[submodule "bundle/textobj"]
	path = bundle/textobj
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/rubyblock"]
	path = bundle/rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/rubyrefactor"]
	path = bundle/rubyrefactor
	url = git://github.com/ecomba/vim-ruby-refactoring.git

